################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sORM/obj/Debug
/sORM/bin/Debug
